### Node ###
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# package.json Lock file
package-lock.json

# ignore reports
reports


# logs
yarn-error.log
walnutjs.log
walnut.log

example/photos/*
example/templates/*
!example/templates/input_CalcPrazo.1.json
